/*Universal*/

a{ 
    color: #365899;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
body {
    background: linear-gradient(#fff, #3b5998);
    font-family: Arial, Helvetica, sans-serif
}
/*  Self Reference
    hRow1       =row one of the table positioned in the header ID
    hRow2Col1   =column one of the first row of the table positioned in the header
    cRow1       =row one of the table positioned in the table nested in content class
    cRow7Col2   =column two of the seventh row in the table nested in content class

/-------------Upgrade box*/

.versionBoxSpace{
    height:10px;
}
.versionBox {
    width:200px;
    height:100px;
    border:3px solid black;
    background-color: red;
    z-index:2;
    opacity:0.3;
    position: relative;
    


}
.radio {
    display:block;
}

.versionBox:hover {
opacity:1;
}


/*---------------------------------Header---------------------------*/
#header {
    position: absolute;
    display: inline-flex;
    left: 0;
    top: 0;
    background-color: #3b5998;
    border: 10px solid #3b5998;
    text-align: center;
    font-size: 16px;
    line-break: normal;
    width: 98.5%;
    opacity: 1;
}
.logo{
    margin-left: 5%;
    margin-right: 55%;
}

.login{
    /*padding:1px;*/
    font-size:12px;
    color: #fff;
    text-align: left;
    }

#submitLogin{
    font-weight: bold;
    padding:6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: white;
    background-color: #4267b2;  
    border: solid 1px #29487d;
}
#submitLogin:hover{
    cursor: pointer;
    background-color: #29487d;
    border: solid 1px black;
}
#header a{
    color:#74abd8;
    text-decoration: none;
}

#header a:hover{
    text-decoration: underline;
}


/*------------------------------------------------------------------*/

/*---------------------------------Body-----------------------------*/
/*Tab styles*/
/* Style the tab */
.tab {
    position: relative;
    overflow: hidden;
    background-color: #3b5998;
    margin-right: 380px;
    margin-left: 270px;
    z-index: 3;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        height: 100px;
        width: 225px;
        border-radius: 15px;
    }


        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    height: 600px;
    margin-left:200px;
    margin-right:200px;
}


/*facebook tab*/
#facebookButton {
    background-color: #274177;
    color: white;
    font-size: 50px;
    border-radius: 15px;
}
#instagramButton {
    align-content:center;
    height: 100px;
    width: 225px;
    padding-left:100px;
    padding-top:35px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#whatsappButton {
    background-color: #40c351;
}
/*---------------------------------------------------------------Facebook signup------------------------------------------------*/
.facebookContent {
    text-align: center;
    background-color: #274177;
    font: 20px;
    width: 100%;
    margin: 0;
    display: block;
}

.content h3{
    position: top;
    display: block;
    margin: 10%;
}

/*comeback to
@media only screen and (max-width:800px){
    .tabcontent {position: relative;
                width: 10px;
                opacity: 0.5;
    }
}*/



#Facebook .yDOB{
    font-weight: bold;
    padding:6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: white;
    background-color: #4267b2;  
    border: solid 1px #29487d;
    cursor: pointer;
    background-color: #29487d;
    border: solid 1px black;
}

#Facebook .newUserSignUp{
    height:  100%;
    color:#1d2129;

   }
#Facebook .cRow1{
    font-size: 48px;
    line-height: 0.1px;
    font-weight: bold;
    color:white;
    
}
#Facebook .cRow2 {
    font-size: 14px;
    line-height: 0.1px;
    font-weight: bold;
    color: white;
}
#Facebook .cRow3Col1{
    width: 175px;
    font-size:16px;
    border: grey solid 1px;
    padding: 10px 8px 10px 5px;
    margin-bottom:10px;
    margin-left: 125px;
    border-radius: 5px;
}
#Facebook .cRow3Col2 {
    width: 175px;
    font-size: 16px;
    border: grey solid 1px;
    padding: 10px 8px 10px 5px;
    margin-bottom: 10px;
    margin-right: 125px;
    border-radius: 5px;
}
#Facebook .cRow4{
    width: 495px;
    font-size:16px;
    border: grey solid 1px;
    padding: 10px 10px 10px 5px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 5px;
}
#Facebook .cRow5{
    width: 495px;
    font-size:16px;
    border: grey solid 1px;
    padding: 10px 10px 5px 5px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 5px;
}
#Facebook .cRow6 {
    font-size: 14;
    padding-right: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}
select{
    padding: 10px 5px;
    border: grey solid 1px;
    border-radius: 3px;
    margin-left: 1px;
}
.cRow7Col1{
    height: auto;
    margin-left:150px;
}
#cRow7Col2{
    font-size: 10px;
    height: 20px;
    text-decoration: none;
    margin-right:100px
   
}

#hiddenBox{
    border: black solid 3px;
    z-index: 1;
    font-size: 14px;
    position: relative;
    max-width: 300px;
    height: auto;
    right:200px;
    bottom: 100px;
    background-color: white;
    
    opacity: 0;
}

span{
    font-weight: bold;
}
#Facebook .yDOB{
    font-weight: bold;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: white;
    margin-left: 45%;
    background-color: #4267b2;  
    border: solid 1px #29487d;
    cursor: pointer;
    background-color: #29487d;
    border: solid 1px black;
}

#hoverMe a{
    color: blue;
}
#hoverMe a:hover ~#hiddenBox{
    opacity:1;
    
}



#Facebook .gender{

    padding-top: 20px;
    padding-bottom: 20px;

}
#Facebook .cRow8M {
    padding: 5px;
    font-size: 18px;
    border-radius: 1px;
    color: white;
}
#Facebook .cRow8F {
    padding: 5px;
    font-size: 18px;
    border-radius: 1px;
    color: white;
}
#Facebook .cRow9 {
    text-align: center;
    
    font-size: 10px;
    justify-content: left;
    padding-right: 25%;
    padding-left: 25%;
    color: white;
}
#Facebook .cRow10{
    padding: 10px 60px;
    border: #3b6e22 solid 1px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 2px #3b6e22;
    background:linear-gradient(#67ae55, #578843);
    
    
    

}
#Facebook .cRow10:hover{
    padding: 10px 60px;
    border: black solid 1px;

    margin: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 2px #3b6e22;
    background:linear-gradient(#74c75f, #54a735);
    
}
#Facebook .cRow11{
    color: grey;
    font-size: 10px;

}

/*-------------------------------Facebook Finished--------------------------------*/
/*--------------------------------Instagramsign up-------------------------------*/


#Instagram {
    background-color:white;
    border:red 1px solid;
    padding-right:120px;
    text-align:center;

}
.instaMob {
    text-align:center;
    width: 495px;
    font-size: 16px;
    border: grey solid 1px;
    padding: 10px 10px 10px 5px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 5px;
}
.instaUser {
    text-align: center;
    width: 495px;
    font-size: 16px;
    border: grey solid 1px;
    padding: 10px 10px 10px 5px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 5px;
}
.instaName {
    text-align: center;
    width: 495px;
    font-size: 16px;
    border: grey solid 1px;
    padding: 10px 10px 10px 5px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 5px;
}
.instaPass {
    text-align: center;
    width: 495px;
    font-size: 16px;
    border: grey solid 1px;
    padding: 10px 10px 10px 5px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 5px;
}
#Instagram button {
    text-align: center;
    width: 495px;
    font-size: 16px;
    border: grey solid 1px;
    padding: 10px 10px 10px 5px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 5px;
}
       

/*---------------------------instagrm end---------------------*/


/*---------------------------Whatsapp web---------------------*/

#Whatsapp {
    background-color: #1EBEA5;
    text-align:center;
    display: none;
    padding: 6px 12px;
    border-top: none;
    height: 600px;
    margin-left: 200px;
    margin-right: 200px;
    
}
#Whatsapp p{
    display:inline;
}

/*<div id="Whatsapp" class="tabcontent">
        <h3>Whatsapp</h3>
        <h4>To use Whatsapp on your PC</h4>
        <ol>
            <li>Open Whatsapp on your Phone</li>
            <li>Tap <strong>Menu</strong> or <strong>Settings</strong> and select <strong>WhatsApp Web</strong></li>
            <li>Point your Phone at the screen to capture the code below</li>
        </ol>
        <img src="images/v2Stock/WhatsappQR.png" /><br />
        <input type="checkbox" />
        <p>Keep me signed in</p>

    </div>*/



        /*------------------------------Footer-----------------------------*/
        footer{
    left: 0;
    background: white;
    height: 300px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border: red solid 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #365899;
    font-size: 12px;
    display: block;
    position:relative;
    
       
    
}

footer li{
    margin-right: 30px;
    display: inline;
    
}
.aditionalOptions{
    margin-bottom:3px;
    margin-top:3px;
}
.copyRight{
    
    font-size: 10px;
    color: grey;
    margin-left: 40px;
    margin-top: 30px;
}